* {
    border-style: none;
    color: rgb(20, 27, 25);
}

body {
    background-color: #84a9ac;    
}

hr {
    border-top-style: dotted;
    border-color: #204051;
    border-width: 5px;
    width: 5%;    
}

img {
    height: 200px;
}

h1,
h3 {
    color: #204051;
}